# The Groups S3, Z3, and D4

In [1]:
import os
aa_path = os.path.join(os.getenv("PYPROJ"), "abstract_algebra")
alg_dir = os.path.join(aa_path, "Algebras")

In [2]:
import finite_algebras as alg

In [3]:
ex = alg.Examples(alg_dir)

======================================================================
                           Example Algebras
----------------------------------------------------------------------
  17 example algebras are available.
  Use "Examples[INDEX]" to retrieve a specific example,
  where INDEX is the first number on each line below:
----------------------------------------------------------------------
0: A4 -- Alternating group on 4 letters (AKA Tetrahedral group)
1: D3 -- https://en.wikipedia.org/wiki/Dihedral_group_of_order_6
2: D4 -- Dihedral group on four vertices
3: Pinter29 -- Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
4: RPS -- Rock, Paper, Scissors Magma
5: S3 -- Symmetric group on 3 letters
6: S3X -- Another version of the symmetric group on 3 letters
7: V4 -- Klein-4 group
8: Z4 -- Cyclic group of order 4
9: F4 -- Field with 4 elements (from Wikipedia)
10: mag_id -- Magma with Identity
11: Example 1.4.1 -- See: Groupoids and Smarandache Groupoids by W. B. Vasantha Kandasamy
12: Ex6 -- Example 6: http://www-groups.mcs.st-andrews.ac.uk/~john/MT4517/Lectures/L3.html
13: Q8 -- Quaternion Group
14: SD16 -- Semidihedral group of order 16
15: A5 -- Alternating group on 5 letters
16: F2 -- Field with 2 elements from paper: 236w06fields.pdf
======================================================================

## Pinter's Example Group vs. the Symmetric Group S3

The example Group on p. 29 of Pinter's book, based on a closed set of 2x2 matrices, is isomorphic to S3.

In [4]:
pinter = ex[3]
pinter.about(use_table_names=True)

** Group **
Name: Pinter29
Instance ID: 4856305360
Description: Non-abelian group, p.29, 'A Book of Abstract Algebra' by Charles C. Pinter
Order: 6
Identity: I
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0       I       I       1
      1       A       A       2
      2       B       D       3
      3       C       C       2
      4       D       B       3
      5       K       K       2
Cayley Table (showing names):
[['I', 'A', 'B', 'C', 'D', 'K'],
 ['A', 'I', 'C', 'B', 'K', 'D'],
 ['B', 'K', 'D', 'A', 'I', 'C'],
 ['C', 'D', 'K', 'I', 'A', 'B'],
 ['D', 'C', 'I', 'K', 'B', 'A'],
 ['K', 'B', 'A', 'D', 'C', 'I']]

In [5]:
s3 = alg.generate_symmetric_group(3)
s3.about()

** Group **
Name: S3
Instance ID: 4856372752
Description: Autogenerated symmetric Group on 3 elements
Order: 6
Identity: (1, 2, 3)
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0 (1, 2, 3) (1, 2, 3)       1
      1 (1, 3, 2) (1, 3, 2)       2
      2 (2, 1, 3) (2, 1, 3)       2
      3 (2, 3, 1) (3, 1, 2)       3
      4 (3, 1, 2) (2, 3, 1)       3
      5 (3, 2, 1) (3, 2, 1)       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5],
 [1, 0, 4, 5, 2, 3],
 [2, 3, 0, 1, 5, 4],
 [3, 2, 5, 4, 0, 1],
 [4, 5, 1, 0, 3, 2],
 [5, 4, 3, 2, 1, 0]]

In [6]:
pinter.isomorphic(s3)

{'I': '(1, 2, 3)',
 'A': '(1, 3, 2)',
 'B': '(2, 3, 1)',
 'C': '(3, 2, 1)',
 'D': '(3, 1, 2)',
 'K': '(2, 1, 3)'}

In [7]:
pinter_cg = pinter.commutator_subalgebra()
pinter_cg.about(use_table_names=True)

** Group **
Name: Pinter29_Comm
Instance ID: 4428215760
Description: Pinter29 commutator subalgebra
Order: 3
Identity: I
Commutative? Yes
Cyclic?: Yes
  Generators: ['B', 'D']
Elements:
   Index   Name   Inverse  Order
      0       I       I       1
      1       B       D       3
      2       D       B       3
Cayley Table (showing names):
[['I', 'B', 'D'], ['B', 'D', 'I'], ['D', 'I', 'B']]

In [8]:
pinter.is_normal(pinter_cg)

True

In [9]:
z3 = alg.generate_cyclic_group(3)
z3.about()

** Group **
Name: Z3
Instance ID: 4856562000
Description: Autogenerated cyclic Group of order 3
Order: 3
Identity: e
Commutative? Yes
Cyclic?: Yes
  Generators: ['a', 'a^2']
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1       a     a^2       3
      2     a^2       a       3
Cayley Table (showing indices):
[[0, 1, 2], [1, 2, 0], [2, 0, 1]]

In [10]:
pinter_cg.isomorphic(z3)

{'I': 'e', 'B': 'a', 'D': 'a^2'}

In [11]:
_ = alg.about_subalgebras(pinter)

Subalgebras of <Group:Pinter29, ID:4856305360>
  There are 2 unique proper subalgebras, up to isomorphism, out of 4 total subalgebras.
  as shown by the partitions below:

1 Commutative Normal Group of order 3 with identity 'I':
      Group: Pinter29_subalgebra_0: ['I', 'B', 'D']

3 Isomorphic Commutative Groups of order 2 with identity 'I':
      Group: Pinter29_subalgebra_1: ['I', 'K']
      Group: Pinter29_subalgebra_2: ['I', 'C']
      Group: Pinter29_subalgebra_3: ['I', 'A']

## The Dihedral Group D4

First, here's the D4 group from the built-in examples:

In [12]:
d4 = ex[2]
# d4.about(use_table_names=True)
d4.about()

** Group **
Name: D4
Instance ID: 4856306384
Description: Dihedral group on four vertices
Order: 8
Identity: e
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0       e       e       1
      1       r     r^3       4
      2     r^2     r^2       2
      3     r^3       r       4
      4       f       f       2
      5      fr      fr       2
      6    r^2f    r^2f       2
      7      rf      rf       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 0, 7, 4, 5, 6],
 [2, 3, 0, 1, 6, 7, 4, 5],
 [3, 0, 1, 2, 5, 6, 7, 4],
 [4, 5, 6, 7, 0, 1, 2, 3],
 [5, 6, 7, 4, 3, 0, 1, 2],
 [6, 7, 4, 5, 2, 3, 0, 1],
 [7, 4, 5, 6, 1, 2, 3, 0]]

### Another D4 Group ("D4X")

Now, here's another implementation of the D4 group from the paper referenced below

<b>Reference</b>:

"Generalized Dihedral Groups of Small Order"

by Barbara A. Brown

https://cas.umw.edu/math/files/2011/09/honors_brown.pdf

In [13]:
d4x_raw_tbl = ["1 R90 R180 R270 Sv Sh Sd1 Sd2",
              "R90 R180 R270 1 Sd1 Sd2 Sh Sv",
              "R180 R270 1 R90 Sh Sv Sd2 Sd1",
              "R270 1 R90 R180 Sd2 Sd1 Sv Sh",
              "Sv Sd2 Sh Sd1 1 R180 R270 R90",
              "Sh Sd1 Sv Sd2 R180 1 R90 R270",
              "Sd1 Sv Sd2 Sh R90 R270 1 R180",
              "Sd2 Sh Sd1 Sv R270 R90 R180 1"]

In [14]:
d4x_desc = "The Dihedral Group D4"
d4x_name = "D4"
d4x_elem = d4x_raw_tbl[0].split()
d4x_table = [row.split() for row in d4x_raw_tbl]

In [15]:
d4x_elem

['1', 'R90', 'R180', 'R270', 'Sv', 'Sh', 'Sd1', 'Sd2']

In [16]:
d4x_table

[['1', 'R90', 'R180', 'R270', 'Sv', 'Sh', 'Sd1', 'Sd2'],
 ['R90', 'R180', 'R270', '1', 'Sd1', 'Sd2', 'Sh', 'Sv'],
 ['R180', 'R270', '1', 'R90', 'Sh', 'Sv', 'Sd2', 'Sd1'],
 ['R270', '1', 'R90', 'R180', 'Sd2', 'Sd1', 'Sv', 'Sh'],
 ['Sv', 'Sd2', 'Sh', 'Sd1', '1', 'R180', 'R270', 'R90'],
 ['Sh', 'Sd1', 'Sv', 'Sd2', 'R180', '1', 'R90', 'R270'],
 ['Sd1', 'Sv', 'Sd2', 'Sh', 'R90', 'R270', '1', 'R180'],
 ['Sd2', 'Sh', 'Sd1', 'Sv', 'R270', 'R90', 'R180', '1']]

In [17]:
d4x = alg.make_finite_algebra(d4x_name, d4x_desc, d4x_elem, d4x_table)

In [18]:
d4x.about()

** Group **
Name: D4
Instance ID: 4856378064
Description: The Dihedral Group D4
Order: 8
Identity: 1
Commutative? No
Cyclic?: No
Elements:
   Index   Name   Inverse  Order
      0       1       1       1
      1     R90    R270       4
      2    R180    R180       2
      3    R270     R90       4
      4      Sv      Sv       2
      5      Sh      Sh       2
      6     Sd1     Sd1       2
      7     Sd2     Sd2       2
Cayley Table (showing indices):
[[0, 1, 2, 3, 4, 5, 6, 7],
 [1, 2, 3, 0, 6, 7, 5, 4],
 [2, 3, 0, 1, 5, 4, 7, 6],
 [3, 0, 1, 2, 7, 6, 4, 5],
 [4, 7, 5, 6, 0, 2, 3, 1],
 [5, 6, 4, 7, 2, 0, 1, 3],
 [6, 4, 7, 5, 1, 3, 0, 2],
 [7, 5, 6, 4, 3, 1, 2, 0]]

The two versions of D4 should be isomorphic, and they are. The isomorphic mapping is shown below.

In [19]:
d4.isomorphic(d4x)

{'e': '1',
 'r': 'R90',
 'r^2': 'R180',
 'r^3': 'R270',
 'f': 'Sv',
 'fr': 'Sd2',
 'r^2f': 'Sh',
 'rf': 'Sd1'}